# buildtool config file for
# the buildenvironment
# $Id: buildtool.cfg,v 1.8 2010/12/11 18:54:26 nitr0man Exp $
# used to download everything...

# Server:
<Server ftp.gnu.org>
        Type = http
        Name = ftp.gnu.org
        Serverpath = /gnu
</Server>
<Server gcc.mirror>
	Type = ftp
	Name = ftp.gwdg.de
	Serverpath = /pub/misc/gcc
</Server>
<Server kernel.org>
	Type = http
	Name = www.kernel.org
	Serverpath = pub/linux/libs/uclibc
</Server>
<Server uclibc.org>
        Type = http
        Name = www.uclibc.org
        Serverpath = /downloads
</Server>
<Server mpfr.org>
	Type = http
	Name = www.mpfr.org
	Serverpath = /
</Server>
<Server multiprecision.org>
	Type = http
	Name = www.multiprecision.org
	Serverpath = /mpc
</Server>

###############################
# Files:

# our make file
<File buildtool.mk>
	Server = localrepo
	Directory = toolchain
	Revision = HEAD
</File>

# binutils
<File binutils-2.21.1a.tar.bz2>
	Server = localrepo
	Directory = toolchain
	Envname = BINUTILS_SOURCE
</File>

# gcc
<File gcc-4.6.2.tar.bz2>
	Server = localrepo
	Directory = toolchain
	envname = GCC_SOURCE
</File>

# uclibc
<File uClibc-0.9.32.tar.bz2>
	Server = localrepo
	Directory = toolchain
	Envname = UCLIBC_SOURCE
</File>
<File config.i386>
	Server = localrepo
	Directory = toolchain
	Revision = HEAD
	Envname = UC_CONFIG_i386
</File>
<File config-header.patch>
	Server = localrepo
	Directory = toolchain
	Revision = HEAD
	Envname = UC_CONFIG_PATCH
</File>

<File epoll-asm-fix.patch>
	Server = localrepo
	Directory = toolchain
	Revision = HEAD
	Envname = UC_PATCH1
</File>

<File resolv.patch>
	Server = localrepo
	Directory = toolchain
	Revision = HEAD
	Envname = UC_PATCH2
</File>

#<File uClibc-path.patch.gz>
#	Server = localrepo
#	Directory = toolchain
#	Revision = HEAD
#	Envname = UC_PATCH1
#</File>

#<File sysdep.patch>
#	Server = localrepo
#	Directory = toolchain
#	Revision = HEAD
#	Envname = UC_PATCH2
#</File>

# This next patch is a (hopefully) temporary fix for uClibc-0.9.30.3
# Review for deletion when upgrading to 0.9.31 or above
# Symptoms fixed by the patch are "aiccu" hanging when run in "daemon" mode
# See leaf-devel mailing list postings "GCC update to 4.4.5" from October 2010
# The content of this patch is based on the following posting:
# http://old.nabble.com/pthread-and-daemon%28%29-problem-td27029024.html
<File uClibc-pthread_initialize.patch>
	Server = localrepo
	Directory = toolchain
	Revision = HEAD
	Envname = UC_PATCH3
</File>
