#
# Configuration file to build images
#
# ImageType can be: syslinux or isolinux
#

<Image>

    <Config>

        ####################################################################
        # Common configurations
        {LRP}        = root license dhcpcd keyboard shorwall dnsmasq dropbear mhttpd webconf
        {LOG_SIZE}   = 8M
        {TMP_SIZE}   = 8M
        {ZSWAP_SIZE} = 0

        ####################################################################
        # Include specific configurations for ImageType
        # like {LEAFCFG} and {PKGPATH}
        ?include config-$(ImageType).cfg

    </Config>

    <Contents>

        ####################################################################
        # Common kernel configuration for all images
        <Kernel>
            Filename = $(ImageType)/linux
            Source   = $(Staging_Dir)/boot/linux-$(KernelArch)
        </Kernel>


        ####################################################################
        # Common files to include in all images
        <File>
            # Note that this copies the *-${KARCH}.lrp files with their full names
            Filename = /
            Source   = $(Package_Dir)/*.lrp
        </File>

        <File>
            Filename = /
            Source   = $(Package_Dir)/*.lwp
        </File>

        <File>
            Filename = /moddb.lrp
            Source   = $(Package_Dir)/moddb-$(KernelArch).lrp
        </File>

        <File>
            Filename = /initrd.lrp
            Source   = $(Package_Dir)/initrd.lrp
        </File>

        <File>
            Filename = /initmod.lrp
            Source   = $(Package_Dir)/initmod-$(KernelArch).lrp
        </File>

        <File>
            Filename         = readme
            Source           = $(Conf_Dir)/image/common/readme
            SearchAndReplace = {DATE}
            SearchAndReplace = {VERSION}
        </File>

        <File>
            Filename         = leaf.cfg
            Source           = $(Conf_Dir)/image/common/leaf.cfg
            SearchAndReplace = {PKGPATH}
            SearchAndReplace = {LRP}
            SearchAndReplace = {LOG_SIZE}
            SearchAndReplace = {TMP_SIZE}
            SearchAndReplace = {ZSWAP_SIZE}
        </File>

        <File>
            Filename = configdb.lrp
            Source   = $(Conf_Dir)/image/common/configdb.$(Variant)
        </File>


### new bootmenu
        <File>
            Filename         = $(ImageType)/vesamenu.c32
            Source           = $(Staging_Dir)/com32/vesamenu.c32
        </File>
       
        <File>
            Filename         = $(ImageType)/menu.c32
            Source           = $(Staging_Dir)/com32/menu.c32
        </File>

        <File>
            Filename         = $(ImageType)/leaf.jpg
            Source           = $(Conf_Dir)/image/common/leaf.jpg
        </File>
#### new boot menu
### syslinux 5
#        <File>
#            Filename         = $(ImageType)/ldlinux.c32
#            Source           = $(Staging_Dir)/com32/ldlinux.c32
#        </File>

#        <File>
#            Filename         = $(ImageType)/libcom32.c32
#            Source           = $(Staging_Dir)/com32/libcom32.c32
#        </File>

#        <File>
#            Filename         = $(ImageType)/libutil.c32
#            Source           = $(Staging_Dir)/com32/libutil.c32
#        </File>

#        <File>
#            Filename         = $(ImageType)/libmenu.c32
#            Source           = $(Staging_Dir)/com32/libmenu.c32
#        </File>

#        <File>
#            Filename         = $(ImageType)/libgpl.c32
#            Source           = $(Staging_Dir)/com32/libgpl.c32
#       </File>

###### hardware detection
       <File>
            Filename         = $(ImageType)/hdt.c32
            Source           = $(Staging_Dir)/com32/hdt.c32
        </File>

        <File>
            Filename         = $(ImageType)/memtest.bin
            Source           = $(Conf_Dir)/image/common/memtest86+-2.11.bin
        </File>
        ####################################################################
        # Include specific files for ImageType like bootloader
        ?include files-$(ImageType).cfg

    </Contents>

</Image>
