<Server local>
	Type = http
	Name = localhost
	Serverpath = /leaf
</Server>

# Here placed packages that aren't in maintree
# Just define the name in the opening tag
# and the Revision and Description
# nothing else supported right now

# default definition, is used as base to all Sources
#<Source default>
#	<Requires>
#		Name  = buildenv
#	</Requires>
#</Source>
