#
#  buildimage.pl configuration file
#
<Image>

    ImageName   = Bering-uClibc
    KernelArch  = i486
    ImageType   = syslinux
    ImageSuffix = ser
    Toolchain   = i486-unknown-linux-uclibc

    <Config>
        ?include <../common/config-syslinux.cfg>
    </Config>

    <Contents>
        ?include <../common/kernel.cfg>
        ?include <../common/files-syslinux.cfg>
    </Contents>

</Image>

# vi: set ai sw=4 wm=5 fo=cql:
