#
#  buildimage.pl configuration file
#
<Image>

    ImageName = Bering-uClibc
    KernelArch = i486
    ImageType = syslinux
    ImageSuffix = ser

    <Config>
      # {DATE}			is defined automatically
      # {VERSION}		is defined automatically
      # {KERNEL}		is defined automatically
        {LEAFCFG}		= /dev/sda1:vfat
        {PKGPATH}		= /dev/sda1:vfat
	{LRP}			= root config etc modules license mawk iptables ip6tables dhcpcd keyboard libm perl shorwall dnsmasq dropbear mhttpd webconf
	{LOG_SIZE}		= 8M
	{TMP_SIZE}		= 8M
    </Config>

    <Contents>
	
	<Kernel>
	    Filename		= syslinux/linux	# Used for {KERNEL}
	    Source		= staging/boot/linux-i486
	</Kernel>

	# Note that this copies the *-${KARCH}.lrp files with their full names
	<File>
	    Filename		= /
	    Source		= package/*.lrp
	</File>
	<File>
	    Filename		= /
	    Source		= package/*.lwp
	</File>

	<File>
	    Filename		= /moddb.lrp
	    Source		= package/moddb-i486.lrp
	</File>

	<File>
	    Filename		= /initrd.lrp
	    Source		= package/initrd-i486.lrp
	</File>

	<File>
	    Filename		= readme
	    Source		= tools/image/common/readme
	    SearchAndReplace	= {DATE} 
	    SearchAndReplace	= {VERSION}
	</File>

	<File>
	    Filename		= syslinux/syslinux.dpy
	    Source		= tools/image/syslinux/syslinux.dpy
	    SearchAndReplace	= {DATE} 
	    SearchAndReplace	= {VERSION}
	</File>

	<File>
	    Filename		= syslinux/syslinux.cfg
	    Source		= tools/image/syslinux/syslinux.ser
	    SearchAndReplace	= {LEAFCFG}
	    SearchAndReplace	= {KERNEL}
	</File>

	<File>
	    Filename		= leaf.cfg
	    Source		= tools/image/common/leaf.cfg
	    SearchAndReplace	= {PKGPATH}
	    SearchAndReplace	= {LRP}
	    SearchAndReplace	= {LOG_SIZE}
	    SearchAndReplace	= {TMP_SIZE}
	</File>

	<File>
	    Filename		= configdb.lrp
	    Source		= tools/image/common/configdb.ser
	</File>

    </Contents>

</Image>

# vi: set ai sw=4 wm=5 fo=cql:
