#
#  buildimage.pl configuration file
#
<Image>

    ImageName = Bering-uClibc
    KernelArch = i486
    ImageType = isolinux
    ImageSuffix = vga

    <Config>
      # {DATE}			is defined automatically
      # {VERSION}		is defined automatically
      # {KERNEL}		is defined automatically
        {LEAFCFG}		= /dev/fd0:vfat,/dev/sr0:iso9660
        {PKGPATH}		= /dev/fd0:vfat,/dev/sr0:iso9660
	{LRP}			= root config etc modules license mawk iptables ip6tables dhcpcd keyboard libm perl shorwall dnsmasq dropbear mhttpd webconf
	{LOG_SIZE}		= 8M
	{TMP_SIZE}		= 8M
    </Config>

    <Contents>
	
	<Kernel>
	    Filename		= isolinux/linux	# Used for {KERNEL}
	    Source		= staging/i386/boot/linux-i486
	</Kernel>

	# Note that this copies the *-${KARCH}.lrp files with their full names
	<File>
	    Filename		= /
	    Source		= package/i386/*.lrp
	</File>
	
	# add lwp files
	<File>
	    Filename		= /
	    Source		= package/i386/*.lwp
	</File>

	<File>
	    Filename		= /moddb.lrp
	    Source		= package/i386/moddb-i486.lrp
	</File>

	<File>
	    Filename		= /initrd.lrp
	    Source		= package/i386/initrd-i486.lrp
	</File>

	<File>
	    Filename		= readme
	    Source		= tools/image/common/readme
	    SearchAndReplace	= {DATE} 
	    SearchAndReplace	= {VERSION}
	</File>

	<File>
	    Filename		= isolinux/isolinux.dpy
	    Source		= tools/image/isolinux/isolinux.dpy
	    SearchAndReplace	= {DATE} 
	    SearchAndReplace	= {VERSION}
	</File>

	<File>
	    Filename		= isolinux/isolinux.cfg
	    Source		= tools/image/isolinux/isolinux.cfg
	    SearchAndReplace	= {LEAFCFG}
	    SearchAndReplace	= {KERNEL}
	</File>

	<File>
	    Filename		= isolinux/isolinux.bin
	    Source		= staging/i386/usr/share/syslinux/isolinux.bin
	</File>

	<File>
	    Filename		= leaf.cfg
	    Source		= tools/image/common/leaf.cfg
	    SearchAndReplace	= {PKGPATH}
	    SearchAndReplace	= {LRP}
	    SearchAndReplace	= {LOG_SIZE}
	    SearchAndReplace	= {TMP_SIZE}
	</File>

    </Contents>

</Image>

# vi: set ai sw=4 wm=5 fo=cql:
