service-type=dyndns
user=login:password
interface=eth1
host=myhostname.dyndns.tv
notify-email=user@domain.com
# other options:
#address=<ip address>
#cache-file=/tmp/ez-ipup
daemon
#debug
#foreground
#host=<host>
#interface=<interface>
#mx=<mail exchanger>
#retrys=<number of trys>
#run-as-user=<user>
#run-as-euser=<user>
#server=<server name>
#timeout=<sec.millisec>
max-interval=86400
#notify-email=<email address>
#period=<time between update attempts>
#url=<url>
#user=<user name>[:password]
#wildcard
#quiet

